<strong>Hello, {{studentName}}</strong>
<p>Welcome to Gympoint. Your subscription was successful created.</p>
<p>
  <strong>Plan: </strong>{{plan}}<br />
  <strong>Start Date: </strong>{{startDate}}<br />
  <strong>End Date: </strong>{{endDate}}<br />
  <strong>Price: </strong>{{price}}<br />
  <br />
</p>
<p>
  Now you can use GymPoint App.
  <br>
  To login, use your ID: <strong>{{studentId}}</strong> <br />
</p>
